{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "amd"
      }
    ],
    "@babel/preset-react"
  ]
}

// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "targets": {
//           "node": "current"
//         },
//         "modules": "commonjs"
//       }
//     ],
//     "@babel/preset-react"
//   ]
// }